<!doctype html>
<html lang="en">
{% load static %}
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


{% comment %} <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> {% endcomment %}
{% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> {% endcomment %}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </head>


<style>

* {
  box-sizing: border-box;
}


body{
    background-color: white;
    max-width: 1440px;
    margin: 0 auto;
    scroll-behavior: smooth;
}


.navbar{
  {% comment %} font-family: 'Montserrat', sans-serif; {% endcomment %}
  height: 85px;
}

.nav-item{
  padding-left:30px;
  font-size: 16px;
}


.carousel-item{
    width: 100%;
    height: 350px;
}
.carousel-item img{
    height: 350px;
    width: 100%;
}

.card-img-top {
width: 100%;
height: 30vh;
object-fit: contain;
}

.menu{
  font-family: 'Montserrat', sans-serif;
  padding-left:40px;
}



{% comment %}******************************* categories boxes *************{% endcomment %}
.column {
  float: left;
  width: 12%;
  padding: 0px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card-cat {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}


.footer{
  bottom: 0;
  background-color: #FFC107 ;
  padding-top:10px;
  width:100%;
  color: black;

}

{% comment %} .footer {
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
} {% endcomment %}


</style>


<body>
<!-- ******************************* NAVBAR ***************************************************** -->

<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-warning" style="padding-left:40px;padding-right:40px;">
  <a class="navbar-brand" href="{% url 'index' %}" style="max-width:6%; ">
    <img src="{% static 'logo1.png' %}" class="img-fluid" style="border-radius:60%;">
 </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" style="padding-left:30px">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'index' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">Contact</a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
      <ul class="navbar-nav mr-auto">


{% comment %} *****************  CHECKING AUTHENTICATION  ******************** {% endcomment %}

      {% if user.is_authenticated %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{user.username}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'profile' %}"> <i class='fas fa-user-circle' style='font-size:20px'></i>&nbsp Add Address</a>
          <a class="dropdown-item" href="#"><i class='fas fa-shopping-bag' style='font-size:20px'></i>&nbsp Orders</a>
          <a class="dropdown-item" href="{% url 'change_password' %}"><i class="fa fa-key" aria-hidden="true"></i>&nbsp Change Password</a>
          <a class="dropdown-item" href="{% url 'logout' %}"><i class='fa fa-sign-out' style='font-size:20px'></i>&nbsp Logout</a>
        </div>
      </li>

        <li class="nav-item">
        <a class="nav-link" href="{% url 'show_cart' %}"><span class="badge bg-danger"></span><i class="fa fa-shopping-cart" style="font-size:20px"></i>({{item_count}}) Cart</a>
      </li>


      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'register.html' %}">Register</a>
      </li>
      {% endif %}
     </ul>
    </form>
  </div>
</nav>



{% load static %}


<link rel="stylesheet" href="{% static 'style1.css' %}">
<div class="box">
        <div class="page">

            <div id="errorMsg"></div>
            <div class="content">
                <form onsubmit ="return  passwordValidation() && newpasswordValidation() && cpasswordValidation" action="{% url 'change_password' %}" method="post" align="center" id="logform" name="logform">
<!--                <form onsubmit="return resetValidate()" action="{% url 'change_password' %}" class="login" name="changeForm" onsubmit="return validateLoginForm()" method="POST">-->
                    {% include 'alert.html' %}
                    {% csrf_token %}
                    <input type="password" class="form-input" name="current_password" id="pass"  placeholder="Current Password" onkeyup='passwordValidation(this)' required/>
                    <span class="error-msg" id="password"></span><br>

                    <input type="password" class="form-input" name="new_password" id="pass1"  placeholder="New Password" onkeyup='newpasswordValidation(this)' required/>
                    <span class="error-msg" id="npassword"></span><br>
<!--                    <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm password">-->
                    <input type="password" class="form-input" name="confirm_password" id="pass2"  placeholder="Confirm Password" onkeyup='cpasswordValidation(this)' required/>
                    <span class="error-msg" id="confirmpassword"></span><br>
                    <br><br>

                    <input type="submit" value="update">

                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="index.js"></script>
</body>

                </div>
                <div class="w3l_form align-self">
                    <div class="left_grid_info">
                        <img src="{% static '' %}" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">

function passwordValidation(inputTxt){

    var regx = /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}/;
    var textField = document.getElementById("password");

    if(inputTxt.value != '' ){
            if(inputTxt.value.match(regx)){
                textField.textContent = '';
                textField.style.color = "green";

            }else{
                textField.textContent = 'Must contain at least one number and one uppercase and lowercase letter and aleast 5 characters';
                textField.style.color = "red";
            }
    }else{
        textField.textContent = 'your input is empty';
        textField.style.color = "red";
    }
}
function newpasswordValidation(inputTxt){

    var regx = /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}/;
    var textField = document.getElementById("npassword");

    if(inputTxt.value != '' ){
            if(inputTxt.value.match(regx)){
                textField.textContent = '';
                textField.style.color = "green";

            }else{
                textField.textContent = 'Must contain at least one number and one uppercase and lowercase letter and aleast 5 characters';
                textField.style.color = "red";
            }
    }else{
        textField.textContent = 'your input is empty';
        textField.style.color = "red";
    }
}
function cpasswordValidation(inputTxt){

	var regx =  document.getElementById("pass1").value;
	var regy =  document.getElementById("pass2").value;
	var textField = document.getElementById("confirmpassword");
	var textField1 = document.getElementById("password");

	if(inputTxt.value != '' ){
			if(regx == regy){
				textField.textContent = '';
				textField.style.color = "green";

			}else{
				textField.textContent = 'not match';
				textField.style.color = "red";
			}
		}else{
			textField.textContent = '';
			textField.style.color = "red";
		}
}
</script>



 <footer class="footer">

           <!-- Footer Elements -->
           <div class="container">

           <!-- Social buttons -->
           <ul class="list-unstyled list-inline text-center">
               <li class="list-inline-item">
               <a href="#" class="btn-floating btn-fb mx-2">
                   <i class="fab fa-facebook fa-2x" > </i>
               </a>
               </li>
               <li class="list-inline-item">
               <a href="https://www.instagram.com/" class="btn-floating btn-tw mx-2">
                   <i class="fab fa-instagram fa-2x" > </i>
               </a>
               </li>
               <li class="list-inline-item">
               <a href='https://web.whatsapp.com/' class="btn-floating btn-gplus mx-2">
                   <i class="fab fa-whatsapp fa-2x"> </i>
               </a>
               </li>
               <li class="list-inline-item">
               <a href="https://mail.google.com/" class="btn-floating btn-li mx-2">
                   <i class="fab fa-google-plus fa-2x"> </i>
               </a>
               </li>
           </ul>
           <!-- Social buttons -->

           </div>
           <!-- Footer Elements -->

           <!-- Copyright -->
          <div class="footer-copyright text-center py-3">© 2023 Copyright: BurgerQueen version 2.0<br>
           <a target='_blank' href="https://www.instagram.com/">Created by Delna</a>
           </div>
           <!-- Copyright -->


 </footer>
