<!doctype html>
<html lang="en">
{% load static %}
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


{% comment %} <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> {% endcomment %}
{% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> {% endcomment %}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </head>


<style>

* {
  box-sizing: border-box;
}


body{

}

.navbar{
  {% comment %} font-family: 'Montserrat', sans-serif; {% endcomment %}
  height: 85px;
}

.nav-item{
  padding-left:30px;
  font-size: 16px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

.carousel-item{
    width: 100%;
    height: 350px;
}
.carousel-item img{
    height: 350px;
    width: 100%;
}

.card-img-top {
width: 100%;
height: 30vh;
object-fit: contain;
}

.menu{
  font-family: 'Montserrat', sans-serif;
  padding-left:40px;
}



{% comment %}******************************* categories boxes *************{% endcomment %}
.column {
  float: left;
  width: 12%;
  padding: 0px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card-cat {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}


.footer{
  bottom: 0;
  background-color: #FFC107 ;
  padding-top:10px;
  width:100%;
  color: black;

}

{% comment %} .footer {
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
} {% endcomment %}


</style>


<body>
<!-- ******************************* NAVBAR ***************************************************** -->

<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-warning" style="padding-left:40px;padding-right:40px;">
  <a class="navbar-brand" href="{% url 'index' %}" style="max-width:6%; ">
    <img src="{% static 'logo1.png' %}" class="img-fluid" style="border-radius:60%;">
 </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" style="padding-left:30px">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'index' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">Contact</a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
      <ul class="navbar-nav mr-auto">


{% comment %} *****************  CHECKING AUTHENTICATION  ******************** {% endcomment %}

      {% if user.is_authenticated %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{user.username}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'profile' %}"> <i class='fas fa-user-circle' style='font-size:20px'></i>&nbsp Add Address</a>
          <a class="dropdown-item" href="#"><i class='fas fa-shopping-bag' style='font-size:20px'></i>&nbsp Orders</a>
          <a class="dropdown-item" href="{% url 'change_password' %}"><i class="fa fa-key" aria-hidden="true"></i>&nbsp Change Password</a>
          <a class="dropdown-item" href="{% url 'logout' %}"><i class='fa fa-sign-out' style='font-size:20px'></i>&nbsp Logout</a>
        </div>
      </li>

        <li class="nav-item">
        <a class="nav-link" href="{% url 'show_cart' %}"><span class="badge bg-danger"></span><i class="fa fa-shopping-cart" style="font-size:20px"></i>({{item_count}}) Cart</a>
      </li>


      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="{% url 'register.html' %}">Register</a>-->
<!--      </li>-->
      {% endif %}
     </ul>
    </form>
  </div>
</nav>

{% load static %}

 <link rel="stylesheet" type="text/css" href="{% static 'style1.css' %}">

<div class="wrapper fadeInDown">
  <div id="formContent">

    {% include 'alert.html' %}

  <script>
      setTimeout(function(){
        if ($('#msg').length > 0){
          $('#msg').remove();
          }
        },4000)

  </script>

<script>
  function validateform()
            {
                var a=document.getElementById('logName').value.trim();
                var d=document.getElementById('logPassword').value.trim();

				        var passpatern=/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}/;


				if(a=="")
                {
					document.getElementById('logn').style.display="block";
                    document.getElementById('logn').innerHTML="**Please Enter Username";
                    return false;
                }
<!--                if(a.indexOf('@')<=0){-->
<!--					document.getElementById('eml').style.display="block";-->
<!--                    document.getElementById('eml').innerHTML="**Invalid  Email Address";-->
<!--                    return false;-->
<!--                }-->
<!--				if ((a.charAt(a.length-4)!='.') && (a.charAt(a.length-3)!='.')) {-->
<!--					document.getElementById('logName').style.display="block";-->
<!--                    document.getElementById('logName').innerHTML="**Invalid  Email Address";-->
<!--                    return false;-->
<!--                }-->
          else{
            document.getElementById('logn').style.display="none";

          }

          if(d=="")
                {
					document.getElementById('pass').style.display="block";
                    document.getElementById('pass').innerHTML="**please enter Password";
                    return false;
                }
				if (!d.match(passpatern))
                    {
                        document.getElementById('pass').style.display="block";
                        document.getElementById('pass').innerHTML="** capital | small | number | minimum 8 character";
                        return false;
                    }
				else{
					document.getElementById('pass').style.display="none";
          return true;
				}

      }

</script>


  </div>



   {% block content %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Registration Page </title>
  <!-- Font Icon -->
<link rel="stylesheet" href="{% static 'reg/fonts/material-icon/css/material-design-iconic-font.min.css' %}">
<!-- Main css -->
<link rel="stylesheet" href="{% static 'reg/css/style.css' %}">

</head>
<body style= "background-image: url('../static/images/signup.jpeg');" alt="">

  <div class="main">
    <section class="signup">
        {% if messages %}
        {% for msg in messages %}
         <h2>{{msg}}</h2>

 {% endfor %}
 {% endif %}
        <!--<img src="images/R.jfif" alt="">-->
        <div class="container">
            <div class="signup-content">
               <form onsubmit ="return unameValidation()  && fnameValidation()  && lnameValidation() &&phoneValidation() && emailValidation()  && passwordValidation() && cpasswordValidation()" action="{% url 'register.html' %}" method="POST" id="signup-form" class="signup-form">

                    {% csrf_token %}
                    <h2 class="form-title">Create account</h2>
                    <div class="form-group">
                        <input type="text" class="form-input" name="username" id="uname" placeholder="User Name"  title="The name should begin with capital letter Followed by uppercase or lowercase" class="form-control" placeholder="Enter your user name" onkeyup='unameValidation(this)' required/>
                        <span class="error-msg" id="uname1"> </span><br>
                    </div>
<!--                     <div class="form-group">-->
<!--                        <input type="text" class="form-input" name="first_name" id="fname" placeholder="First Name" title="The name should begin with capital letter Followed by uppercase or lowercase" class="form-control" placeholder=" first name"  onkeyup='fnameValidation(this)'required/>-->
<!--                        <span class="error-msg" id="fname1"> </span><br>-->
<!--                    </div>-->
                     <div class="form-group">
                        <input type="text" class="form-input" name="last_name" id="lname" title="The name should begin with capital letter Followed by uppercase or lowercase" class="form-control" placeholder="Enter your last name" onkeyup='lnameValidation(this)'  required/>
                        <span class="error-msg" id="lname1"> </span><br>
                    </div>
<!--                   Email verification-->
                   <div id="email_div" style="display: block;">
                    <div class="form-group">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        <input type="email" class="form-input" name="email" id="email" placeholder="Your Email"    required style="width:100%;" placeholder="Enter your email" onkeyup='emailValidation(this)' required/>
                        <span class="error-msg" id="email1"> </span><br>
                        <button  onclick="ajax_send_otp()">Send OTP</button>
                    </div>
                   </div>

                   <div id="verify_text_div"></div>
                        <div id="otp_div" style="display: none;" >
                            <div class="form-group">
                                <input type="text" class="form-input" name="otp" id="otp" placeholder="Your OTP" required style="    width:70%;" placeholder="Enter your otp" required/>
                            </div>
                            <button  onclick="verify_otp()">Verify</button>
                        </div>
<!--                   end-->

                    <!-- <div class="w3l-last-grid1">
                        <div class="w3l-grid1">
                           <label class="text">Email</label>
                           <div class="w3l-div">
                              <i class="fa fa-envelope-o" aria-hidden="true"></i>
                              <input type="email" name="email" placeholder="e-mail" onkeyup='emailValidation(this)' required/>
                              <span class="error-msg" id="email"> </span><br>
                           </div>
                        </div> -->


                    <div class="form-group" id="form_div" style="display: none;">
                        <div class="form-group">
                        <input type="text" class="form-input" name="phonenumber" id="phone" placeholder="Phone no"  title="enter your 10 digit phone no" class="form-control" placeholder="Enter your phone no" onkeyup='phoneValidation(this)' required/>
                        <span class="error-msg" id="phone1"> </span><br>
                    </div>
                        <input type="password" class="form-input" name="password" id="pass1"  placeholder="Password" onkeyup='passwordValidation(this)' required/>
                        <span class="error-msg" id="password" toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span><br>
                    <div class="form-group">

                    <input type="password" class="form-input" name="cpassword" id="pass2"  placeholder="Repeat your password" onkeyup='cpasswordValidation(this)' required/>

                    <span class="error-msg" id="confirmpassword"></span><br>
                    </div>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="agree-term" id="agree-term" class="agree-term"required />
                        <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                    </div>

                    <div class="form-group">
                        <input type="submit" name="submit" id="submit" class="form-submit" value="Sign up"/>
                    </div>

                </form>

                <p class="loginhere">
                    Have already an account ? <a href="{% url 'login' %}" class="loginhere-link">Login here</a>
                </p>
            </div>
        </div>
    </section>
<script>
     var otp_from_back="";
     function ajax_send_otp(){
        document.getElementById("email_div").style.display='none';
        email = document.getElementById("email");
      $.post("/send_otp",
          {
              "email":email.value,
              "csrfmiddlewaretoken":"{{csrf_token}}"
          },
          function(data, status){
              if(status=="success"){
                  otp_from_back = data;
                  document.getElementById("otp_div").style.display='block';
                  }
     }
     );
     }
    function verify_otp(){
        var user_otp=document.getElementById("otp").value;
        if (user_otp==otp_from_back){
            document.getElementById("verify_text_div").style.color="green";
            document.getElementById("verify_text_div").innerHTML="OTP Verified";
            document.getElementById("otp_div").style.display="none";
            document.getElementById("form_div").style.display="block";
        }
        else{
            document.getElementById("verify_text_div").style.color="red";
            document.getElementById("verify_text_div").innerHTML="Try Again!!";
        }
    }
 </script>
    </div>
<!--</section>-->

<!--</div>-->

{% for msg in messages %}
<h3>{{msg}}</h3>
{% endfor %}



</div>
 <!-- JS -->
 <script src="{% static 'reg/vendor/jquery/jquery.min.js' %}"></script>
 <script src="{% static 'reg/js/main.js' %}"></script>



<script type="text/javascript">

 function unameValidation(inputTxt){

    var regx = /^[a-zA-Z]+$/;
    var textField = document.getElementById("uname");

    if(inputTxt.value != '' ){

        if(inputTxt.value.length >= 3){

            if(inputTxt.value.match(regx)){
                textField.textContent = '';
                textField.style.color = "green";

            }else{
                textField.textContent = 'only characters allowded';
                textField.style.color = "red";
            }
        }else{
            textField.textContent = 'your input mut me more than two chracters';
            textField.style.color = "red";
        }
    }else{
        textField.textContent = 'your input is empty';

        textField.style.color = "red";
    }
}

    function fnameValidation(inputTxt){

        var regx = /^[a-zA-Z]+$/;
        var textField = document.getElementById("fname1");

        if(inputTxt.value != '' ){

            if(inputTxt.value.length >= 2){

                if(inputTxt.value.match(regx)){
                    textField.textContent = '';
                    textField.style.color = "green";

                }else{
                    textField.textContent = 'only characters allowded';
                    textField.style.color = "red";
                }
            }else{
                textField.textContent = 'your input mut me more than two chracters';
                textField.style.color = "red";
            }
        }else{
            textField.textContent = 'your input is empty';

            textField.style.color = "red";
        }
    }

    function lnameValidation(inputTxt){

        var regx = /^[a-zA-Z  ]+$/;
        var textField = document.getElementById("lname1");

        if(inputTxt.value != '' ){

            if(inputTxt.value.length >= 1){

                if(inputTxt.value.match(regx)){
                    textField.textContent = '';
                    textField.style.color = "green";

                }else{
                    textField.textContent = 'only characters allowded';
                    textField.style.color = "red";
                }
            }else{
                textField.textContent = 'your input mut me more than two chracters';
                textField.style.color = "red";
            }
        }else{
            textField.textContent = 'your input is empty';
            textField.style.color = "red";
        }
    }




function emailValidation(inputTxt){
    // ^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$
    var regx = /^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$/;
    var textField = document.getElementById("email1");

    if(inputTxt.value != '' ){
        if(inputTxt.value.match(regx)){
            textField.textContent = '';
            textField.style.color = "green";
        }else{
            textField.textContent = 'email is not valid!!!';
            textField.style.color = "red";
        }
    }else{
        textField.textContent = 'your input is empty';
        textField.style.color = "red";
    }
}





    function passwordValidation(inputTxt){

        var regx = /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}/;
        var textField = document.getElementById("password");

        if(inputTxt.value != '' ){
                if(inputTxt.value.match(regx)){
                    textField.textContent = '';
                    textField.style.color = "green";

                }else{
                    textField.textContent = 'Must contain at least one number and one uppercase and lowercase letter and aleast 5 characters';
                    textField.style.color = "red";
                }
        }else{
            textField.textContent = 'your input is empty';
            textField.style.color = "red";
        }
    }


    function cpasswordValidation(inputTxt){

        var regx =  document.getElementById("pass1").value;
        var regy =  document.getElementById("pass2").value;
        var textField = document.getElementById("confirmpassword");
        var textField1 = document.getElementById("password");

        if(inputTxt.value != '' ){
                if(regx == regy){
                    textField.textContent = '';
                    textField.style.color = "green";

                }else{
                    textField.textContent = 'not match';
                    textField.style.color = "red";
                }
            }else{
                textField.textContent = '';
                textField.style.color = "red";
            }
    }

      </script>

{% endblock %}
</body>
</html>